.card-body {
    border-radius: 30px !important;
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out !important;
    box-shadow:
        0px 10px 13px -6px rgba(0, 0, 0, 0.05),
        0px 20px 31px 3px rgba(0, 0, 0, 0.07),
        0px 8px 38px 7px rgba(0, 0, 0, 0.06);
        
    .card-image {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}