.pokemon-page-container {
    max-width: 1000px;
    
    .pokemon-image img {
        height: 400px;
        width: 400px;
    }
    
    .pokemon-details-container {
        width: fit-content;
        min-width: 400px;
        border-radius: 30px;
    
        & p:last-child {
            margin-bottom: 0;
        }
    }
    
    .pokemon-evolution-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        img {
            height: 200px;
            width: 200px;
        }
    
        .pokemon-name {
            align-items: center;
        }
    }
}